.container {
	max-width: 1200px;
}

h1, h2, p, a {
	font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

h1 {
	font-size: 64px;
	margin-bottom: 20px;
}

h2 {
	font-size: 32px;
	margin: 32px;
}

p {
	font-size: 26px;
}

header {
	background-color: #FFD385;
	height: 350px;
	padding-top: 55px;
}

header p {
	margin-bottom: 40px;
}

.download {
	background-color: rgb(255, 193, 85);
	border-radius: 4px;
	color: rgb(255, 255, 255);
	padding: 8px 30px;
	transition: box-shadow 0.5s;
}

.download:hover {
	background-color: rgb(255, 193, 85);
	box-shadow: 0px 1px 6px rgba(0,0,0,0.6);
	border-radius: 4px;
	color: #fff;
	padding: 8px 30px;
	text-decoration: none;
	transition: box-shadow 0.25s;
}

.section {
	padding-top: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid #dbdbdb;
}

.store {
	text-align: center;
	border-bottom: 0px;
	padding-bottom:100px
}

.footer {
	border-top: 1px solid #dbdbdb;
	background-color: #f3f3f3;
	padding: 20px 0px 30px;
}

.footer h3 {
	color: #555;
	font: 400 18px arial;
}

.footer ul {
	list-style-type: none;
	padding-left: 0;
}

.footer li {
	color: #999;
	font-weight: bold;
}